<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <meta name="viewport" content="width=device-width">
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    {{{body}}}
    <script src="javascripts/vue.js"></script>
    <script src="javascripts/main.js"></script>
    <script src="javascripts/ProductComponent.js"></script>
    <script src="javascripts/CartComponent.js"></script>
  </body>
</html>
