<div class="container">
        <div class="header">
            <div class="logo">
                <h1 class="name">Molbertov.ru</h1>
            </div>
            <nav>
                <ul class="menu">
                    <li><a href="/">Главная</a></li>
                    <li><a href="/catalog">Каталог</a></li>
                    <li class="btn-cart" v-on:click= "$refs.cart.cartShow = !$refs.cart.cartShow">Корзина</li>
                </ul>
            </nav>
            <cart ref="cart"></cart>
        </div>
        <div class="content">
            <h1 class="product-name">Мольберт трансформер</h1>
            <a href="/hlopushka" class="previous-page">&lt;&lt;&lt;</a>
            <form action="#">
                <button>Купить</button>
            </form>
            <a href="lira" class="next-page">&gt;&gt;&gt;</a>
            <div class="pictures">
                <a href="../img/tr1.jpg" target="_blank" alt="трансформер"><img src="../img/tr1.jpg" width="234" height="350" alt="трансформер" class="picture" /></a>
                <div class="crop">
                    <a href="../img/tr2.jpg" target="_blank" alt="трансформер"><img src="../img/tr2.jpg" width="525" height="350" alt="трансформер" class="picture" /></a>
                </div>
            </div>
            <p class="short-description">Многофункциональный мольберт, который не&nbsp;оставит равнодушным как начинающего художника, так и&nbsp;профессионала.</p>
            <br />
            <br />
            <h3 class="heading">Характеристики:</h3>
            <ul class="specifications">
                <li>Материал: сосна, фанера берёзовая</li>
                <li>Вес&nbsp;&mdash; 8кг</li>
                <li>Максимальная высота холста&nbsp;&mdash; 150см (рекомендуемая&nbsp;&mdash; 120см)</li>
                <li>Высота полок-держателей регулируется от&nbsp;55см до&nbsp;200см</li>
                <li>Основание мольберта&nbsp;&mdash; ящик (складывается)</li>
            </ul>
            <h3 class="heading">Описание:</h3>
            <p class="description">Главная особенность мольберта&nbsp;&mdash; его регулируемая рама, угол которой можно изменять в&nbsp;диапазоне от&nbsp;90&nbsp;до&nbsp;180&nbsp;градусов. Данная конструкция предназначена, в&nbsp;первую очередь, для написания картин долгосохнущими материалами: установленный холст не&nbsp;придется снимать с&nbsp;мольберта для горизонтальной сушки&nbsp;&mdash; достаточно просто повернуть несущую раму.</p>
            <p class="description">Высота мольберта также регулируется, что позволяет настроить его для рисования как сидя, так и&nbsp;стоя. Мольберт, при всех своих возможностях, очень компактный, в&nbsp;основании занимает 0,3 квадратных метра. Планшет или холст фиксируется с&nbsp;помощью верхнего и&nbsp;нижнего бегунков. В&nbsp;основании&nbsp;&mdash; большой ящик под принадлежности.</p>
            <br />
            <table class="idontneedthistablehere">
                <tr class="upperline">
                    <td colspan="5">Так как интернет-магазин я делаю для мастерской, в которой сам работаю, а технические характеристики мне больше нравятся в виде списка, это будет просто таблица ради выполнения домашнего задания. Спасибо за понимание!</td>
                </tr>
                <tr>
                    <td rowspan="3">Здесь вы можете наблюдать ячейки, объединенные по вертикали.</td>
                    <td>А ниже - котик!</td>
                    <td colspan="3">Знания, полученные при создании этой таблицы, обязательно найдут применение при создании корзины</td>
                </tr>
                <tr>
                    <td><img src="../img/chester.jpg" width="140" height="95"></td>
                    <td>13</td>
                    <td>14</td>
                    <td>15</td>
                </tr>
                <tr>
                    <td>Большинство людей любят котиков</td>
                    <td colspan="3">Технические характеристики приведены выше в виде списка</td>
                </tr>
            </table>
        </div>
        <div class="footer">
            &copy;Все права защищены
        </div>
    <