<div class="container">
        <div class="header">
            <div class="logo">
                <h1 class="name">Molbertov.ru</h1>
            </div>
            <nav>
                <ul class="menu">
                    <li><a href="/">Главная</a></li>
                    <li><a href="/catalog">Каталог</a></li>
                    <li class="btn-cart" v-on:click= "$refs.cart.cartShow = !$refs.cart.cartShow">Корзина</li>
                </ul>
            </nav>
            <cart ref="cart"></cart>
        </div>
        <div class="content">
            <h1 class="product-name">Мольберт хлопушка</h1>
            <a href="/lira" class="previous-page">&lt;&lt;&lt;</a>
            <form action="#">
                <button>Купить</button>
            </form>
            <a href="/transformer" class="next-page">&gt;&gt;&gt;</a>
            <div class="pictures">
                <a href="../img/hlop1.jpg" target="_blank" alt="хлопушка"><img src="../img/hlop1.jpg" width="234" height="350" alt="хлопушка" class="picture" /></a>
                <div class="crop">
                    <a href="../img/hlop2.jpg" target="_blank" alt="хлопушка"><img src="../img/hlop2.jpg" width="525" height="350" alt="хлопушка" class="picture" /></a>
                </div>
            </div>
            <p class="short-description">Любимый мольберт художественных школ, училищ и&nbsp;вузов.</p>
            <br />
            <br />
            <h3 class="heading">Характеристики:</h3>
            <ul class="specifications">
                <li>Материал: сосна, фанера берёзовая</li>
                <li>Высота&nbsp;&mdash; 120см</li>
                <li>Ширина&nbsp;&mdash; 60см</li>
                <li>Размер планшета 60&times;60см</li>
            </ul>
            <h3 class="heading">Описание:</h3>
            <p class="description">Надежный, устойчивый мольберт. Планшет выполнен из&nbsp;высококачественной шлифованной фанеры. Фиксация угла открытия осуществляется ограничителем-гребенкой. Мольберт оснащен полочкой, на&nbsp;которую удобно складывать художественные принадлежности.</p>
            <p class="description">Популярность среди художественных учреждений обусловлена максимальной простотой конструкции, невысокой ценой и&nbsp;наличием планшета в&nbsp;базовой комлектации. Мольберт получил свое название &laquo;Хлопушка&raquo; из-за характерного звука, раздающегося при складывании (схлапывании).</p>
            <p class="description">Эта модель хорошо подходит для рисования на&nbsp;бумаге, которую удобно крепить к&nbsp;фанерному планшету.</p>
            <br />
            <table class="idontneedthistablehere">
                <tr class="upperline">
                    <td colspan="5">Так как интернет-магазин я делаю для мастерской, в которой сам работаю, а технические характеристики мне больше нравятся в виде списка, это будет просто таблица ради выполнения домашнего задания. Спасибо за понимание!</td>
                </tr>
                <tr>
                    <td rowspan="3">Здесь вы можете наблюдать ячейки, объединенные по вертикали.</td>
                    <td>А ниже - котик!</td>
                    <td colspan="3">Знания, полученные при создании этой таблицы, обязательно найдут применение при создании корзины</td>
                </tr>
                <tr>
                    <td><img src="../img/chester.jpg" width="140" height="95"></td>
                    <td>13</td>
                    <td>14</td>
                    <td>15</td>
                </tr>
                <tr>
                    <td>Большинство людей любят котиков</td>
                    <td colspan="3">Технические характеристики приведены ниже в виде списка</td>
                </tr>
            </table>
        </div>
        <div class="footer">
            &copy;Все права защищены
        </div>
    </div>