<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href='/fonts/font-awesome/css/font-awesome.css'>
    <link rel='stylesheet' href='/stylesheets/style.css'>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  </head>
  <body>
    {{{body}}}
  </body>
</html>
