<div class="container">
        <div class="header">
            <div class="logo">
                <h1 class="name">Molbertov.ru</h1>
            </div>
            <nav>
                <ul class="menu">
                    <li><a href="/">Главная</a></li>
                    <li><a href="/catalog">Каталог</a></li>
                    <li class="btn-cart" v-on:click= "$refs.cart.cartShow = !$refs.cart.cartShow">Корзина</li>
                </ul>
            </nav>
            <cart ref="cart"></cart>
        </div>
        <div class="content">
            <h1 class="product-name">Мольберт лира</h1>
            <a href="/transformer" class="previous-page">&lt;&lt;&lt;</a>
            <form action="#">
                <button>Купить</button>
            </form>
            <a href="/hlopushka" class="next-page">&gt;&gt;&gt;</a>
            <div class="pictures">
                <a href="../img/lira1.jpg" target="_blank" alt="лира"><img src="../img/lira1.jpg" width="234" height="350" alt="лира" class="picture" /></a>
                <div class="crop">
                    <a href="../img/lira2.jpg" target="_blank" alt="лира"><img src="../img/lira2.jpg" width="525" height="350" alt="лира" class="picture" /></a>
                </div>
            </div>
            <p class="short-description">Просто мольберт &laquo;лира&raquo;. Проверен не&nbsp;одним поколением художников.</p>
            <br />
            <br />
            <h3 class="heading">Характеристики:</h3>
            <ul class="specifications">
                <li>Материал: сосна</li>
                <li>Высота&nbsp;&mdash; 180см</li>
                <li>Ширина&nbsp;&mdash; 50см</li>
                <li>Вес&nbsp;&mdash; 2.5кг</li>
            </ul>
            <h3 class="heading">Описание:</h3>
            <p class="description">Самая популярная модель мольбертов. Лира заслужила свою популярность универсальностью и&nbsp;ценой.</p>
            <p class="description">Данный мольберт подойдет детям и&nbsp;взрослым, любителям и&nbsp;профессионалам. Эта модель оснащена верхним и&nbsp;нижним бегунками, которые служат для установки и&nbsp;фиксации на&nbsp;мольберте планшета из&nbsp;фанеры либо холста. Планшет необходим в&nbsp;случае, если художник рисует на&nbsp;бумаге, тогда лист крепится на&nbsp;планшет и&nbsp;устанавливается на&nbsp;мольберт. В&nbsp;случае, если художник рисует на&nbsp;холсте&nbsp;&mdash; холст устанавливается сразу на&nbsp;мольберт.</p>
            <p class="description">Высота бегунков задается с&nbsp;помощью 4-х фиксаторов, ослаблять и&nbsp;фиксировать которые можно легко&nbsp;&mdash; пальцами рук. Угол наклона задней ноги также фиксируется с&nbsp;помощью гайки-барашка.</p>
            <br />
            <table class="idontneedthistablehere">
                <tr class="upperline">
                    <td colspan="5">Так как интернет-магазин я делаю для мастерской, в которой сам работаю, а технические характеристики мне больше нравятся в виде списка, это будет просто таблица ради выполнения домашнего задания. Спасибо за понимание!</td>
                </tr>
                <tr>
                    <td rowspan="3">Здесь вы можете наблюдать ячейки, объединенные по вертикали.</td>
                    <td>А ниже - котик!</td>
                    <td colspan="3">Знания, полученные при создании этой таблицы, обязательно найдут применение при создании корзины</td>
                </tr>
                <tr>
                    <td><img src="../img/chester.jpg" width="140" height="95"></td>
                    <td>13</td>
                    <td>14</td>
                    <td>15</td>
                </tr>
                <tr>
                    <td>Большинство людей любят котиков</td>
                    <td colspan="3">Технические характеристики приведены выше в виде списка</td>
                </tr>
            </table>
        </div>
        <div class="footer">
            &copy;Все права защищены
        </div>
    <