* {
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

header {
    min-height: 150px;
    background-color: rgb(189, 189, 189);
}

.padding-site {
    padding-left: 100px;
    padding-right: 100px;
}

.btn-cart {
    float: right;
    margin-top: 70px;
    width: 192px;
    height: 54px;
    background-color: #0087be;
    border-radius: 8px;
    font-size: 21px;
    text-align: center;
    line-height: 52px;
    text-decoration: none;
    color: #ffffff;
    font-family: sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.32px;
    box-shadow: -4px 12px 40px rgba(0, 1, 1, 0.2);
    transition: all 0.1s ease-in-out;
}

.btn-cart:hover {
    transform: scale(1.1, 1.2);
    background-color: #43b1d2;
    box-shadow: -2px 5px 10px rgba(0, 1, 1, 0.3);
    transition: all 0.1s ease-in-out;
}

.btn-cart:active {
    transform: scale(1, 1);
    box-shadow: -1px 2px 3px rgba(0, 1, 1, 0.4);
    background-color: #0087be;
    transition: all 0.1s ease-in-out;
}

.products {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

