<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Интернет-магазин</title>
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="css/style.css">
    <link href="http://fonts.googleapis.com/css?family=PT+Sans:regular,italic,bold,bolditalic" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="./font-awesome/css/font-awesome.css">
</head>

<body>
    <div class="container" id="app">
        <header class="padding-site">
            <form action="#" class="search-form">
                <input type="text" class="search-field" v-model="searchLine">
                <button @click="filter" class="btn-search" type="submit" v-on:click="filterProducts">
                    <i class="fa fa-search"></i>
                </button>
            </form>
            <button @click="showHideBasket" class="btn-cart" type="button">Корзина <i class="fa fa-chevron-down buttonArrow" aria-hidden="true"></i></button>
        </header>
        <main class="padding-site">
            <div class="products">
                <div class="product-item" v-for="product of products" :key="product.id_product">
                    <img :src="imgCatalog" alt="Some img">
                    <div class="desc">
                        <h3>{{product.product_name}}</h3>
                        <p>{{product.price}} $</p>
                        <button class="buy-btn" @click="addProduct(product)">Купить</button>
                    </div>
                </div>
            </div>

            <div class="basketWindow hidden">
                <table>
                    <thead>
                        <tr>
                            <th scope="col">ID</th>
                            <th scope="col">Название</th>
                            <th scope="col">Цена</th>
                            <th scope="col">Количество</th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                    <tfoot>
                        <tr>
                            <th colspan="2" scope="row">Итого: </th>
                            <td colspan="3">
                                <span class="total">0</span>
                                <i class="fa fa-rub"></i>
                            </td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </main>
    </div>
    
    <script src="js/vue.js"></script>
    <script src="js/main.js"></script>
</body>

</html>